.bash_history
.cache/
.calc_history
.cargo/
.config/GIMP/
.config/broot/launcher/
.config/cmus/
.config/dconf/
.config/gtk-2.0/
.config/htop/
.config/pulse/
.config/sublime-merge/
.config/sublime-text-3/
.config/taskwarrior-tui/
.config/user-dirs.dirs
.config/user-dirs.locale
.emacs.d/
.gnupg/
.histfile
.lesshst
.local/share/Trash/
.local/share/applications/
.local/share/broot/
.local/share/fonts/
.local/share/iwctl/
.local/share/ranger/
.local/share/recently-used.xbel
.local/share/zathura/
.mozilla/
.mydotfiles/
.python_history
.ssh/
.task/
.timewarrior/
.vim/.netrwhist
.viminfo
.wget-hsts
.zcompdump
.zdirs
.zsh_history
Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
Templates/
Videos/
