.android/
.cache/
.calc_history
.cargo/
.config/Android Open Source Project/
.config/GIMP/
.config/Google/
.config/Mattermost/
.config/Postman/
.config/Slack/
.config/broot/launcher/
.config/chromium/
.config/cmus/
.config/dconf/
.config/gtk-2.0/
.config/gtk-3.0/
.config/handlr/
.config/htop/
.config/inkscape/
.config/kitty/theme.conf
.config/libfm/
.config/pavucontrol.ini
.config/pcmanfm/
.config/pipewire/
.config/pulse/
.config/sublime-merge/
.config/sublime-text-3/
.config/sway/theme.config
.config/taskwarrior-tui/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/waybar/theme.css
.config/xarchiver/
.emacs.d/
.emulator_console_auth_token
.git-credentials
.gnupg/
.gradle-kotlin-dsl/
.gradle/
.gtk-bookmarks
.histfile
.ideavimrc
.java/
.keychain/
.lesshst
.local/share/Android Open Source Project/
.local/share/Google/
.local/share/Icons8/
.local/share/RecentDocuments/
.local/share/Trash/
.local/share/applications/
.local/share/broot/
.local/share/fonts/
.local/share/gvfs-metadata/
.local/share/iwctl/
.local/share/kotlin/
.local/share/meld/
.local/share/ranger/
.local/share/recently-used.*
.local/share/taskwarrior-tui/
.local/share/user-places.*
.local/share/zathura/
.local/state/pipewire/
.local/state/wireplumber/
.m2/
.mozilla/
.mydotfiles/
.pki/
.python_history
.ssh/
.task/
.timewarrior/
.vim/.netrwhist
.vim/colors/theme.vim
.viminfo
.wget-hsts
.zcompdump
.zdirs
Android/
AndroidStudioProjects/
Apps/
Desktop/
Documents/
Downloads/
Music/
Pictures/
Projects/
Public/
Templates/
Videos/
snap/
