Xft.autohint:  false
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting:   true
Xft.antialias: true
Xft.rgba:      rgb

URxvt.font:           xft:DejaVu Sans Mono:pixelsize=16
URxvt.boldFont:       xft:DejaVu Sans Mono:bold:pixelsize=16
URxvt.italicFont:     xft:DejaVu Sans Mono:italic:pixelsize=16
URxvt.boldItalicFont: xft:DejaVu Sans Mono:bold:italic:pixelsize=16

URxvt.iso14755:    false
URxvt.iso14755_52: false

URxvt.scrollstyle: plain

! special
*.background: #3a3a3a
*.foreground: #d7d7d7

! black
*.color0:     #262626
*.color8:     #4e4e4e

! red
*.color1:     #994444
*.color9:     #bc6767

! green
*.color2:     #668866
*.color10:    #89a589

! yellow
*.color3:     #eebb66
*.color11:    #ffd693

! blue
*.color4:     #446c88
*.color12:    #698aa1

! magenta
*.color5:     #ee7777
*.color13:    #ffa6a6

! cyan
*.color6:     #468b8b
*.color14:    #6faaaa

! white
*.color7:     #c6c6c6
*.color15:    #e4e4e4
