Xft.autohint:  false
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting:   true
Xft.antialias: true
Xft.rgba:      rgb

URxvt.font: xft:DejaVu Sans Mono:pixelsize=16

! special
*.foreground:   #ffffff
*.background:   #121212
*.cursorColor:  #ffffff

! black
*.color0:       #232323
*.color8:       #343434

! red
*.color1:       #994444
*.color9:       #bc6767

! green
*.color2:       #668866
*.color10:      #89a589

! yellow
*.color3:       #eebb66
*.color11:      #ffd693

! blue
*.color4:       #446c88
*.color12:      #698aa1

! magenta
*.color5:       #ee7777
*.color13:      #ffa6a6

! cyan
*.color6:       #468b8b
*.color14:      #6faaaa

! white
*.color7:       #dddddd
*.color15:      #efefef
