@import "theme.css";

* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: DejaVu Sans;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(40, 44, 52, 0.5);
    color: @base07;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @base07;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 2px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px @base07;
}

#workspaces button.focused {
    background-color: @base04;
    box-shadow: inset 0 2px @base0D;
}

#workspaces button.urgent {
    background-color: @base08;
}

#mode {
    background-color: @base04;
    border-top: 2px solid @base0D;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: @base07;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: transparent;
    border-top: 2px solid @base0D;
}

#battery {
    background-color: transparent;
    border-top: 2px solid @base0D;
}

#battery.charging, #battery.plugged {
    border-top: 2px solid @base0B;
}

#battery.critical:not(.charging) {
    background-color: @base08;
    border-top: 2px solid @base08;
}

label:focus {
    background-color: @base00;
}

#cpu {
    background-color: transparent;
    border-top: 2px solid @base0D;
}

#memory {
    background-color: transparent;
    border-top: 2px solid @base0D;
}

#disk {
    background-color: transparent;
    border-top: 2px solid @base0D;
}

#backlight {
    background-color: transparent;
    border-top: 2px solid @base0D;
}

#network {
    background-color: transparent;
    border-top: 2px solid @base0D;
}

#network.disconnected {
    border-top: 2px solid @base08;
}

#pulseaudio {
    background-color: transparent;
    border-top: 2px solid @base0D;
}

#temperature {
    background-color: transparent;
    border-top: 2px solid @base0D;
}

#temperature.critical {
    background-color: @base08;
    border-top: 2px solid @base08;
}

#tray {
    background-color: transparent;
    border-top: 2px solid @base0D;
}

#idle_inhibitor {
    background-color: transparent;
    border-top: 2px solid @base07;
}

#idle_inhibitor.activated {
    background-color: @base04;
    border-top: 2px solid @base0D;
}
